NOME_BD=[NOME_DO_SEU_BANCO_DE_DADOS]	   #ex: glucajava
USUARIO_BD=[NOME_DA_SUA_CONEXAO_NO_MYSQL]  #ex: user
SENHA_BD=[SENHA_DA_SUA_CONEXAO_NO_MYSQL]   #ex: user1234
LOCALHOST_BD=[PORTA_DO_HOST_DO_SEU_MYSQL]  #ex: 3306